@import 'tailwindcss';

:root {
  --font-instrument-sans: 'Instrument Sans', sans-serif;
  --font-tinos: 'Tinos', serif;
}


html,
body {
  font-family: var(--font-instrument-sans);
}

a {
  color: inherit;
  text-decoration: none;
}


.stack-cards {
  --stack-cards-gap: 24px; /* gap между карточками */
  position: relative;
}

.stack-cards__item {
  position: relative; /* fallback для браузеров без sticky */
  position: sticky;
  top: 0; /* позиция при фиксации - соответствует cardTop в JavaScript */
  height: 525px;
  margin-bottom: var(--stack-cards-gap);
  transition: transform 0.1s ease-out;
}

@media (min-width: 640px) {
  .stack-cards__item {
    height: 400px;
  }
}

.stack-cards__item:last-child {
  margin-bottom: 0;
}
